
/* ==========================================================================
   Base
   ========================================================================== */

body {
    min-height: 100vh;
    background: linear-gradient(to top, #666666, #000000);
    background-repeat: no-repeat;
    font-family:'glacial_indifference';
}

#wematcher_widget {
   width:100%;
   height: 100%;  
}